.top{
    float: center;
}
.top h1{
font-weight: 600;
font-size: 4rem;
text-align: center;
letter-spacing: -0.065em;
padding-bottom: 10px;
color: #0A1650
}
div.image{
    padding: 30px;
    background-image: url(../img/peps.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    
}
.someText h2{
font-style: normal;
font-weight: bold;
font-size: 4rem;
letter-spacing: 0.01rem;
text-align: center;
color: #FFFFFF;
padding: 10px;
}

@media screen and (max-width:567px){
    div.image{
        height:400px;
    }
    .someText h2{
        font-size: 2rem;
        }
}

@media screen and (max-width:767px){
    div.image{
        height:400px;
    };

    .someText h2{
        font-size: 2.7rem;
        }
}