.top{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    width: 50%;
}
.left p{
    font-style: normal;
font-weight: 500;
font-size: 25px;
text-align: justify;
letter-spacing: 0.01em;
padding: 10px;
color: rgba(0, 0, 0, 0.7);
}
.right img{
    width: 600px;
    height: 500px;
}

@media screen and (max-width: 767px){
    .top{
        flex-direction: column;
        width: 100%;
    }
    .left{
        width: 100%;
    }

    .left p{
        padding: 10px;
    }
    .right{
        padding-top: 10px;
    }
}