*{
    padding: 0;
    margin: 0;
    line-height: 1.7;
}
.wrapper2{
    background: #0A1650;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}
.left{ 
    width: 100%;
}
.left h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 15px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #F1F1F1;
}
.card2{
    width: 400px;
    height: 450px;
    background: #ECECEC;
    border-radius: 15px;
    padding: 20px;
}
.card2 h4{
    padding-left: 10px;
    text-transform: uppercase;
    color: #0A1650;
    font-size: 17px;
}
.card2 p{
    font-size: 15px;
    padding-left: 10px;
    font-weight: 600;
}

.right{
    width: 100%;
    margin: 0;
}
.right p{
    font-weight:600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    text-align: justify;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.right input{
    background: #E9E9E9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    width: 70%;
    padding: 20px;
}
.right input::placeholder{
    letter-spacing: -0.065em;
    color: #9A9A9A;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.right button{
    background: #4571DA;
border-radius: 0px 20px 20px 0px;
color: #fff;
border: 1px solid #000000;
box-sizing: border-box;
padding: 20px;
}

@media only screen and (max-width: 567px){
    .wrapper2{
        flex-direction:column;
        justify-content: center;
        width: 100%;
    }
    .left h3{
        text-align: center;
        margin-bottom: 15px;
    }
    .right{
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper2{
        display: flex;
        flex-direction:column;
        justify-content: center;
        width: 100%;
    }
    .left h3{
        text-align: center;
        margin-bottom: 15px;
    }
    .right{
        padding-top: 2rem;
    }
    .card2{
        margin-left: 2rem;
    }
}