@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* nav links and buttons */
.nav-link {
  font-weight: 700;
  font-size: 17px;
  color: #fff !important;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 1);
}

.nav-link:hover {
  font-weight: 800;
}

.navbar-toggler:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.button-2 {
  text-align: center;
  position: relative;

  font-size: 20px !important;
}

.btn-primary:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* container-1 */
.container-1 {
  position: relative;
  height: 600px;
}

.container-1 .navbar-brand img {
  width: 100px;
  height: 72px;
  position: relative;
}

.container-1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./img/bg-1.jpg") no-repeat center center / cover;
  opacity: 0.6;
}

.container-1::after {
  opacity: 0.6;
}

/* container-2 */
.container-2 {
  position: relative;
  width: 500px;
  margin: 40px auto;
  border-radius: 30px;
  color: #fff !important;
}

.container-2.bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
}

.container-2 .border-primary {
  border-top: 3px solid #4981b3 !important;
}

.home-hero h1 {
  position: relative;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 1);
}

.home-hero p {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #fff !important;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 1);
}

/* searchbar */
.elementsContainer {
  position: relative;
  width: 400px;
  height: 100%;
  vertical-align: middle;
  margin: 20px auto;
}

.elementsContainer .form-control {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  padding-left: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.elementsContainer .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

::placeholder {
  font-size: 14px;
}

.elementsContainer .btn {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.WorkWithNav {
  background-color: #f0f0f0;
  overflow: none;
  padding: 20px 0 10px 0;
  width: 100%;
  font-family: "Poppins";
  font-size: 35px;
}
.WorkWithNav > .YC {
  font-size: 30px;
  margin-right: 50px;
  text-decoration: none;
}
.YC img {
  height: 62px;
  width: auto;
}
.WorkWithNav a {
  text-align: center;
  padding: 12px;
  margin-right: 30px;
}
.SearchBar {
  width: 150px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 3px 5px 5px 0px #dbd1c9;
}
::-webkit-input-placeholder {
  font-size: 25px;
}
:-ms-input-placeholder {
  font-size: 25px;
}

::placeholder {
  font-size: 25px;
}

.WorkWithBG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/WorkWithBG.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  height: 600px;
  color: #e1e1e1;
  text-align: center;
  padding-top: 211px;
}

.WorkWithBG h1 {
  font-size: 120px;
  font-family: "Quantico";
  line-height: 185.9px;
  letter-spacing: -0.065em;
}

.WorkWithBG p {
  font-family: "Poppins";
  font-size: 62px;
  line-height: 108px;
  letter-spacing: -0.065em;
}
.WorkWithLogo {
  width: 111px;
  height: 72px;
}

.WorkWithHead {
  color: #4571da;
  text-align: center;
  font-size: 62px;
  margin-bottom: 30px;
}
.BodySection {
  margin: 50px 50px;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 52.14px;
  color: #3d3d3d;
}
.WorkWithSection {
  list-style-type: none;
  background-color: #0a1650;
  padding-bottom: 100px;
}
#section {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 70px 0 0 100px;
}
#section ul {
  margin-right: 300px;
}
.WorkWithSection li {
  list-style-type: none;
}
.Extras {
  margin: 50px 0 0 270px;
}
.Extras img {
  height: 50px;
  width: auto;
  margin-right: 30px;
  float: left;
}
.Extras Button {
  background-color: #fff;
  color: #0a1650;
  float: right;
  margin-right: 20px;
  padding: 7px;
  border-radius: 5px;
}
.WorkWithFooter {
  display: flex;
  margin: 100px 0 0 100px;
  font-size: 20px;
}
.WorkWithFooter,
.WorkWithFooter a {
  color: #878787;
}
.WorkWithFooter span {
  margin-right: 60px;
}
.WorkWithFooter li {
  list-style-type: none;
  display: inline;
}
.Socials li {
  margin-right: 50px;
}
#After::after {
  margin: 0 40px;
  content: "|";
}
/* small screen size */
@media (max-width: 576px) {
  .container-2 {
    width: 300px;
    height: 350px;
  }
  .container-2 p {
    font-size: 12px;
  }
}
