@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* nav links and buttons */
.nav-link {
  font-weight: 600;
  font-size: 17px;
}

.nav-link:hover {
  font-weight: 700;
}

.navbar-toggler:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.button-2 {
  text-align: center;
  position: relative;

  font-size: 20px !important;
}

.btn-primary:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.dropdown-menu-custom {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: none !important;
  outline: none !important;
  width: 100px !important;
}

.dropdown-item {
  font-weight: 600 !important;
  font-size: 17px !important;
}

/* container-1 */
.container-1 {
  position: relative;
  height: 600px;
}

.container-1 .navbar-brand img {
  width: 100px;
  height: 72px;
  position: relative;
}

.navbar-brand p {
  font-weight: 700;
}

/* container-2 */

.container-2 .border-primary {
  border-top: 3px solid #4981b3 !important;
}

.home-hero h1 {
}

.home-hero p {
  font-size: 16px;
  font-weight: 400;
}

/* searchbar */
.elementsContainer {
  width: 400px;
  height: 40px;
  vertical-align: middle;
  margin: 20px auto;
  margin-left: 0px;
}

.elementsContainer .form-control {
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  padding-left: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.elementsContainer .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

::placeholder {
  font-size: 14px;
}

.elementsContainer .btn {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

/* small screen size */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
}
/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {
}
